*{
	margin:0;
	padding: 0;
}

body{
	background-color: #f4f4f4;
	color: #555555;
}

.site-name{
	background-color: coral;
	color: white;
	border-right: 10px red solid;
}

.button{
	background-color: #333;
	color:#fff;
	padding: 22.3px 15px;
	border:none;
}

.box{
	display: inline;
	padding-left: 30px;
}

.main-bar{
	background-color: skyblue;
	border-right: 10px red solid;
	height: 60px;
}

.lst{
	background-color: #333;
	color:#fff;
	padding: 22.3px 25px;
	margin-left: 50px;
	border:none;
	float:left;
	height: 15px;
}

.container{
	background-color: grey;
	height: 500px;
}

#textzone{
	margin: auto;
	width: 1400px;
	height:300px;
    border-bottom:  5px solid tomato;
}

#des,#desim{
	display: inline-block;
}

#des{
	background-color: skyblue;
	color: grey;
	font-weight: bold;
	font-style: arial;
	font-size: 13px;
}